body {
    background-color: rgb(162, 44, 67);
    }
    h1{
        text-align: center;
        font-size: 30px;
        font-style: oblique;
        color: darkblue;
    }
    p{
        color: white;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    #button {
        margin: auto;
        display: grid;
        text-align: center;
        height: 50px;
        width: 250px ;
        font-size: large;
        display: flex;
    }
    .card {
        top: 60px;
        height: 300px;
        width:700px;
        border-radius: 25px;
        margin: auto;
        background-color: black;
        box-shadow: inset;
        align-items: center;
    }
    form input{
        font-weight: 500;
        background-color: whitesmoke;
        font-size: 30px;
        text-align: center;
    }
    form output{
        height: 45px;
        font-size: 30px;
        width: 250px;
        text-align: center;
        color: green;
        background-color: white;
        margin: auto;
        display: grid;
        display: flex;
        display: flow-root;
        margin-bottom: 10px;
    }
    #btn2 {
        margin: auto;
        margin-top: 40px;
        display: grid;
        height: 50px;
        text-align: center;
        width: 250px ;
        text-indent: 90px;
        font-size: large;
        display: flex;
        color: tan;
    }
    #result{
        font-size: x-large;
        text-align: center;
        align-items: center;
    }
